<div class="col-3 sidebar">
    
  <img src="/img/logoWhite.png" style="width:40%;" id="leftMid"></img>

        <div class="btn logout" id="logout"><a href="/users/logout">Logout</a></div>
</div>
<div>
    <div class="search" id="texts">Search...&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <i class="fa fa-search fa-lg" style="font-size:17px;"></i>
    </div>
    <br><br><br><br><br>
    <div class="fontA col-6 rank" id="rank">
        Our <br> Rankings
    </div>
    <div class="rankTable" id="texts" style="overflow-y: scroll;">
       
        <table class="table">
            <tr class="heading">
              <td>S.No.</td>
              <td>Name</td>
              <td>Biasness</td>
              <td>Importance</td>
              <td>Oppurtunities</td>
              <td>MissedOuts</td>
              <td>Priority</td>
              <td>Empowerment</td>
              <td>Average Rating</td>
            </tr>
            <% for(var i=0; i<employeeRankings.length; i++){ %>

            <tr>
              <td><%=i+1%></td>
              <td><%=employeeRankings[i]._id%></td>
              <td><%=employeeRankings[i].avgBiasness.toFixed(2)%></td>
              <td><%=employeeRankings[i].avgImportance.toFixed(2)%></td>
              <td><%=employeeRankings[i].avgOpportunities.toFixed(2)%></td>
              <td><%=employeeRankings[i].avgMissedout.toFixed(2)%></td>
              <td><%=employeeRankings[i].avgPriority.toFixed(2)%></td>
              <td><%=employeeRankings[i].avgEmpowerment.toFixed(2)%></td>
              <td><%=employeeRankings[i].totalAvg.toFixed(2)%></td>
            </tr>
           <%}%>
          </table>
    </div>
</div>