<div class="col-3 sidebar">
    
    <img src="/img/logoWhite.png" style="width:40%;" id="leftMid"></img>
  
          <div class="btn logout" id="logout"><a href="/users/logout">Logout</a></div>
  </div>
  <div>
      
      <br><br><br><br><br>
      <div class="fontA col-6 rank" id="rank">
          Average salary
      </div>
      <div class="rankTable" id="texts" style="overflow-y: scroll;">
         
          <table class="table">
              <tr class="heading">
                <td>S.No.</td>
                <td>Name</td>
                <td>low level</td>
                <td> mid level</td>
                <td>high level</td>
              
              </tr>
              <% for(var i=0; i<salary.length; i++){ %>
  
              <tr>
                <td><%=i+1%></td>
                <td><%=salary[i]._id%></td>
                <td><%=salary[i].position["Low-Level"]%></td>
                <td><%=salary[i].position["Mid-Level"]%></td>
                <td><%=salary[i].position["High-Level"]%></td>
                
              </tr>
             <%}%>
            </table>
      </div>
  </div>